:root{
    --main-color: lightblue;
}
content{
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    

    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 1px;
    outline: thick double #000d13;
}
.pop-title{
    display: flex;
    justify-content: space-between;
}
.pop-contain{
    display: flex;
    flex-direction: row;
}
.pop-left{

}
.pop-right{
    display: flex;
    flex-direction: column;
}
.pop-image{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}